<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>save</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <link rel="stylesheet" href="/assets/css/main.css"> 
</head>

<body>
    <header>
        <div style="height: 1dvh;background-color: white;"></div>
        <nav>
            <div class="spacer"></div>
            <div class="left-nav">
                <div class="lpu-logo">
                    <img src="/assets/images/logo/LPU-logo.svg" alt="lpu logo">
                </div>
                <div class="fitspace-text">
                    <a style="color: #b11e23;">LPU <a style="color: rgb(83, 83, 83);"> FitSpace</a></a>

                </div>


            </div>
            <div class="right-nav">
                <a>Mission & Vision</a>
                <a>Department Overview</a>
                <a>About FitSpace</a>
                <div class="input-container">
                    <input type="text" placeholder=" Search Lessons...">
                    <button>Search</button>
                </div>

            </div>
            <div class="spacer"></div>
        </nav>
        <div style="background-color: white;height: 1dvh;border-bottom: 2px gray solid;"></div>

    </header>
    <main>
        <section class="sidebar">
            <div class="spacer"></div>
            <section class="sidebar-main">
                <h1>COURSES:</h1>
                <div class="lesson-tab-container">
                    <div class="lesson-tab" onclick="openTab(pathfit1, arrow1, dropdown1)">
                        <b>PATHFIT 1</b>
                        <span class="material-symbols-outlined" id="arrow1">arrow_drop_down</span>
                    </div>
                    <div id="dropdown1" class="dropdown">

                        <a href="">Introduction to Physical Education</a></li>
                        <a href="">What is Physical Education?</a></li>
                        <a href="">Objectives of Physical Education</a></li>
                        <a href="">Legal Bases of Physical Education</a></li>
                        <a href="">Minimum Standards of Physical Education Program</a></li>
                        <a href="">Physical Activity Readiness Questionnaire (PAR-Q)</a></li>
                        <a href="">Waist-to-Hip Ratio (WHR)</a></li>
                        <a href="">Body Mass Index (BMI)</a></li>
                        <a href="">Fundamental Movement Skills</a></li>
                        <a href="">Body Awareness and Body Mechanics</a></li>
                    </div>
                    <div class="lesson-tab" onclick="openTab(pathfit2, arrow2, dropdown2)">
                        <b>PATHFIT 2</b>
                        <span class="material-symbols-outlined" id="arrow2">arrow_drop_down</span>
                    </div>
                    <div id="dropdown2" class="dropdown">
                        <a href="">Definition of Physical Fitness</a>
                        <a href="">Definition of Physical Activity</a>
                        <a href="">Definiton of Fitness</a>
                        <a href="">Fundamentals of Fitness</a>
                        <a href="">Definiton of Exercise</a>
                        <a href="">Benefits of Regular Physical Activity/ Exercise</a>
                        <a href="">Definition of Training</a>
                        <a href="">Types of Fitness Training</a>
                        <a href="">Fitness Program: 5 Steps to Get Started</a>
                        <a href="">Sample Fitness Plan</a>
                        <a href="">FITT Principle</a>
                        <a href="">Weight Management</a>
                        <a href="">Physical Fitness Test Score Card</a>
                        <a href="">Developing a Personal Fitness Plan</a>
                    </div>
                    <div class="lesson-tab" onclick="openTab(pathfit3, arrow3, dropdown3)">
                        <b>PATHFIT 3 & 4</b>
                        <span class="material-symbols-outlined" id="arrow3">arrow_drop_down</span>
                    </div>
                    <div id="dropdown3" class="dropdown">
                        <a href="">Introduction to Applied Physical Activities</a>
                        <a href="">Course Goals and Objectives</a>
                        <a href="">Choosing your PATHFIT 3/4 Track</a>


                        <div class="lesson-tab2" onclick="openTab(danceTab, arrowDance, dropdownDance)">
                            <b>Dance Activities</b>
                            <span class="material-symbols-outlined" id="arrowDance">arrow_drop_down</span>
                        </div>
                        <div id="dropdownDance" class="dropdown2">
                            <a href="">Folk Dance</a>
                            <a href="">Modern Dance/ Hip-hop</a>
                            <a href="">Zumba Dance</a>
                        </div>
                        <div class="lesson-tab2" onclick="openTab(sportsTab, arrowSports, dropdownSports)">
                            <b>Sports Activities</b>
                            <span class="material-symbols-outlined" id="arrowSports">arrow_drop_down</span>
                        </div>
                        <div id="dropdownSports" class="dropdown2">
                            <a href="">Basketball</a>
                            <a href="">Volleyball</a>
                            <a href="">Handball</a>
                            <a href="">Badminton</a>
                        </div>
                        <div class="lesson-tab2" onclick="openTab(martialTab, arrowMartial, dropdownMartial)">
                            <b>Martial Arts</b>
                            <span class="material-symbols-outlined" id="arrowMartial">arrow_drop_down</span>
                        </div>
                        <div id="dropdownMartial" class="dropdown2">
                            <a href="">Arnis (Filipino Martial Arts)</a>
                        </div>
                        <div class="lesson-tab2" onclick="openTab(groupTab, arrowGroup, dropdownGroup)">
                            <b>Group Exercises</b>
                            <span class="material-symbols-outlined" id="arrowGroup">arrow_drop_down</span>
                        </div>
                        <div id="dropdownGroup" class="dropdown2">
                            <a href="">Cardio Workouts</a>
                            <a href="">Core and Circuit Training</a>
                            <a href="">Outdoor and Adventure</a>
                            <a href="">Hiking and Trekking</a>
                        </div>
                        <div class="lesson-tab2" onclick="openTab(campingTab, arrowCamping, dropdownCamping)">
                            <b style="font-size: 0.9rem;">Camping and Safety Guidelines</b>
                            <span class="material-symbols-outlined" id="arrowCamping">arrow_drop_down</span>
                        </div>
                        <div id="dropdownCamping" class="dropdown2">
                            <a href="">Team-building and Recreational Games</a>

                        </div>


                    </div>



                </div>
            </section>


            <div class="spacer"></div>


        </section>

        <section class="main-content-container">
            <div class="main-content"><!--dito maglalagay-->


            </div>
            </div>

        </section>

    </main>

    <footer>
        <section class="main-footer">
            <div class="sub-main-footer">

                <div class="footer-logo">
                    <div class="logo-circle"> <!-- insert logo image here --> </div>
                    <h1>LPU Fit Space</h1>
                </div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum magnam velit autem quas
                    exercitationem? Optio minus, perspiciatis nobis, repellat dicta maiores repellendus saepe at
                    molestias error modi, iste qui aliquid?</p>
            </div>

            <div class="sub-main-footer">
                <h1>Courses:</h1>
                <p>PATHFIT 1: Movement competency Training</p>
                <p>PATHFIT 2: Exercise Based Fitness Activities</p>
                <p>PATHFIT 3 & 4: Dance, Sports, Martial Arts,<br> and Group Fitness Activities</p>
            </div>
            <div class="sub-main-footer">
                <h1>Contact:</h1>

                <div class="contact-item">
                    <span class="material-symbols-outlined">location_on</span>
                    <p>LPU Cavite</p>
                </div>
                <div class="contact-item">
                    <span class="material-symbols-outlined">call</span>
                    <p>(639) 158-3558</p>
                </div>
                <div class="contact-item">
                    <span class="material-symbols-outlined">mail</span>
                    <p>fitspace@lpu.edu.ph</p>
                </div>

            </div>
        </section>
        <div class="bottom-footer">
            <p>©2025 LPU FitSpace | Lyceum of the Philippines University - Cavite</p>
        </div>

    </footer>


    <script src="/assets/js/main.js"> </script>
</body>

</html>