<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>save</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    <link rel="stylesheet" href="structure.css">
</head>

<body>
    <header>
        <div style="height: 1dvh;background-color: white;"></div>
        <nav>
            <div class="spacer"></div>
            <div class="left-nav">
                <div class="lpu-logo">
                    <img src="https://i.postimg.cc/kgRTSGH1/image.png" alt="lpu logo">
                </div>
                <div class="fitspace-text">
                    <a style="color: #b11e23;">LPU <a style="color: rgb(83, 83, 83);"> FitSpace</a></a>

                </div>


            </div>
            <div class="right-nav">
                <div class="input-container">
                    <input type="text" placeholder=" Search Lessons...">
                    <button>Search</button>
                </div>

            </div>
            <div class="spacer"></div>
        </nav>

        <nav class="nav-main">
            <div>
                <p class="nav-button" onclick="gotoPage(homeButton, homePage)">Home</p>
                <p class="nav-button" onclick="gotoPage(pathfit1Button, pathfit1Page)">PATHFIT 1</p>
                <p class="nav-button" onclick="gotoPage(pathfit2Button, pathfit2Page)">PATHFIT 2</p>
                <p class="nav-button" onclick="gotoPage(pathfit3Button, pathfit3Page)">PATHFIT 3 & 4</p>
                <p class="nav-button" onclick="gotoPage(missionButton, missionPage)">Mission & Vision</p>
                <p class="nav-button" onclick="gotoPage(departmentButton, departmentPage)">Department Overview</p>
                <p class="nav-button" onclick="gotoPage(aboutUsButton, aboutUsPage)">About FitSpace</p>
            </div>
        </nav>
        <div style="height: 3dvh;background-color:white;"></div>
    </header>
    <main id="main">

        <div class="main-side"></div>
        <section id="home">
            <div class="main-spacer" style="border-bottom-left-radius: 10px;">

            </div>
            <div class="main-home">
                <h1>BASTA COOL NA HOME PAGE TO</h1>
            </div>
            <div class="main-spacer" style="border-bottom-right-radius: 10px;">


            </div>
        </section>
        <section id="pathfit1">
            <div class="main-spacer" style="border-bottom-left-radius: 10px;">

            </div>
            <div class="main-pathfit1">

                <div class="title-text">
                    <h1>PATHFIT 1: MOVEMENT COMPETENCY TRAINING</h1>
                </div>
                <div style="height: 3dvh;"></div>
                <div class="graphic-box"></div>
                <div style="height: 3dvh;"></div>
                <div class="topic-text">
                    <h1>LESSONS:</h1>
                    <div style="height: 3dvh;"></div>


                </div>
                <div class="link-container">
                    <a href="" id="overview-1">PATHFIT 1: Overview</a>
                    <a href=""><span>Introduction to Physical Education</span></a>
                    <a href="" style="background-color: rgba(172, 171, 171, 0.296);"><span>What is Physical
                            Education?</span></a>
                    <a href=""><span>Objectives of Physical Education</span></a>
                    <a href="" style="background-color: rgba(172, 171, 171, 0.296);"> <span>Legal Bases of Physical
                            Education</span></a>
                    <a href=""><span>Minimum Standards of Physical Education Program</span></a>
                    <a href="" style="background-color: rgba(172, 171, 171, 0.296);"><span>Physical Activity Readiness
                            Questionnaire (PAR-Q)</span></a>
                    <a href=""><span>Waist-to-Hip-ratio (WHR)</span></a>
                    <a href="" style="background-color: rgba(172, 171, 171, 0.296);"><span>Body Mass Index
                            (BMI)</span></a>
                    <a href=""><span>Fundamental Movement Skills</span></a>
                    <a href="" style="background-color: rgba(172, 171, 171, 0.296);"><span>Body Awareness and Body
                            Mechanics</span></a>

                </div>

            </div>
            <div class="main-spacer" style="border-bottom-right-radius: 10px;"></div>
        </section>
        <section id="pathfit2">
            <div class="main-spacer" style="border-bottom-left-radius: 10px;"></div>
            <div class="main-pathfit2">
                <div class="title-text">
                    <h1>PATHFIT 2: EXERCISE - BASED FITNESS ACTIVITIES</h1>
                </div>
                <div style="height: 3dvh;"></div>
                <div class="graphic-box"></div>
                <div style="height: 3dvh;"></div>
                <div class="topic-text">
                    <h1>LESSONS:</h1>
                    <div style="height: 3dvh;"></div>


                </div>
                <div class="link-container-2">
                    <a href="" id="overview-2">PATHFIT 2: Overview</a>
                    <a href=""><span>Definition of Physical Activity</span></a>
                    <a href="" style="background-color: rgba(172,171,171,0.296);"><span>Definition of Physical
                            Fitness</span></a>
                    <a href=""> <span>Definition of Fitness</span></a>
                    <a href="" style="background-color: rgba(172,171,171,0.296);"><span>Fundamentals of
                            Fitness</span></a>
                    <a href=""><span>Definition of Exercise</span></a>
                    <a href="" style="background-color: rgba(172,171,171,0.296);"><span>Benefits of Regular Physical
                            Activity/ Exercise</span></a>
                    <a href=""><span>Definition of Training</span></a>
                    <a href="" style="background-color:rgba(172,171,171,0.296);"><span>Types of Fitness
                            Training</span></a>
                    <a href=""><span>Fitness Program: 5 Steps to Get Started </span></a>
                    <a href="" style="background-color:rgba(172,171,171,0.296);"><span> Sample Fitness Plan</span></a>
                    <a href=""><span>FITT Principle</span></a>
                    <a href="" style="background-color:rgba(172,171,171,0.296);"><span>Weight Management</span></a>
                    <a href=""><span>Physical Fitness Test Score Card</span></a>
                    <a href="" style="background-color:rgba(172,171,171,0.296);"><span>Developing a Personal Fitness
                            Plan</span></a>
                </div>

            </div>
            <div class="main-spacer" style="border-bottom-right-radius: 10px;"></div>
        </section>
        <section id="pathfit3">
            <div class="main-spacer" style="border-bottom-left-radius: 10px;"></div>
            <div class="main-pathfit3">
                <div class="title-text">
                    <h1 style="letter-spacing: 2px;">PATHFIT 3 & 4: Dance, Sports, Martial Arts, and Group Fitness
                        Activities</h1>
                </div>
                <div style="height: 3dvh;"></div>
                <div class="graphic-box"></div>
                <div style="height: 3dvh;"></div>
                <div class="topic-text">
                    <h1>LESSONS:</h1>
                    <div style="height: 3dvh;"></div>


                </div>
                <div class="link-container-3">
                    <a href="" class="overview-3">PATHFIT 3 & 4: Overview</a>
                    <a href=""><span>Definition of Physical Activity</span></a>
                    <a href="" style="background-color: rgba(172,171,171,0.296);"><span>Introduction to Applied Physical
                            Activities</span></a>
                    <a href=""> <span>Course Goals And Objectives</span></a>
                    <a href="" style="background-color: rgba(172,171,171,0.296);"><span>Choosing your PATHFIT 3 /
                            PATHFIT 4 Track</span></a>
                    <a href="" class="overview-3">Dance Activities</a>
                    <a href="" style="background-color: rgba(172,171,171,0.296);"><span>Folk Dance</span></a>
                    <a href=""><span>Modern Dance/ Hip-hop</span></a>
                    <a href="" style="background-color:rgba(172,171,171,0.296);"><span>Zumba Dance</span></a>
                    <a href="" class="overview-3">Sports Activities</a>
                    <a href=""><span>Basketball</span></a>
                    <a href="" style="background-color:rgba(172,171,171,0.296);"><span>Volleyball</span></a>
                    <a href=""><span>Handball</span></a>
                    <a href="" style="background-color:rgba(172,171,171,0.296);"><span>Badminton</span></a>
                    <a href="" class="overview-3">Martial Arts</a>
                    <a href=""><span>Arnis (Filipino Martial Arts)</span></a>
                    <a href="" class="overview-3">Group Exercise</a>
                    <a href="" style="background-color:rgba(172,171,171,0.296);"><span>Cardio Workouts</span></a>
                    <a href=""><span>Core and Circuit Training</span></a>
                    <a href="" style="background-color:rgba(172,171,171,0.296);"><span>Outdoor and Adventure</span></a>
                    <a href=""><span>Hiking and Trekking</span></a>
                    <a href="" class="overview-3">Camping and Safety Guidelines</a>
                    <a href="" style="background-color:rgba(172,171,171,0.296);"><span>Team-Building and Recreational
                            Games</span></a>
                </div>
            </div>
            <div class="main-spacer" style="border-bottom-right-radius: 10px;"></div>


        </section>
        <section id="mission">
            <div class="main-spacer" style="border-bottom-left-radius: 10px;"></div>
            <div class="main-home">
                <h1>eto mission vision</h1>
            </div>
            <div class="main-spacer" style="border-bottom-right-radius: 10px;"></div>
        </section>
        <section id="department">
            <div class="main-spacer" style="border-bottom-left-radius: 10px;"></div>
            <div class="main-home">
                <h1>eto department</h1>
            </div>
            <div class="main-spacer" style="border-bottom-right-radius: 10px;"></div>
        </section>
        <section id="aboutUs">
            <div class="main-spacer" style="border-bottom-left-radius: 10px;"></div>
            <div class="main-home">
                <h1>eto about us6yu</h1>
            </div>
            <div class="main-spacer" style="border-bottom-right-radius: 10px;"></div>
        </section>

        </section>

        <div class="main-side"></div>

    </main>

    <footer>
        <section class="main-footer">
            <div class="sub-main-footer">
                <h1>LPU FitSpace</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum magnam velit autem quas
                    exercitationem? Optio minus, perspiciatis nobis, repellat dicta maiores repellendus saepe at
                    molestias error modi, iste qui aliquid?</p>
            </div>
            <div class="sub-main-footer">
                <h1>Courses:</h1>
                <p>PATHFIT 1: Movement competency Training</p>
                <p>PATHFIT 2: Exercise Based Fitness Activities</p>
                <p>PATHFIT 3 & 4: Dance, Sports, Martial Arts,<br> and Group Fitness Activities</p>
            </div>
            <div class="sub-main-footer">
                <h1>Contact:</h1>
                <p>LPU Cavite</p>
                <p>(639) 158-3558</p>
                <p>fitspace@lpu.edu.ph</p>
            </div>
        </section>
        <div class="bottom-footer">
            <p>©2025 LPU FitSpace | Lyceum of the Philippines University - Cavite</p>
        </div>


    </footer>

    <script>
        const navButton = document.getElementsByClassName('nav-button');
        const homeButton = navButton[0];
        const pathfit1Button = navButton[1];
        const pathfit2Button = navButton[2];
        const pathfit3Button = navButton[3];
        const missionButton = navButton[4];
        const departmentButton = navButton[5];
        const aboutUsButton = navButton[6];

        const main = document.getElementById('main');
        const homePage = document.getElementById('home');
        const pathfit1Page = document.getElementById('pathfit1');
        const pathfit2Page = document.getElementById('pathfit2');
        const pathfit3Page = document.getElementById('pathfit3');
        const missionPage = document.getElementById('mission');
        const departmentPage = document.getElementById('department');
        const aboutUsPage = document.getElementById('aboutUs');

        const lessonLinks = document.querySelectorAll(".lesson-link");
        const lessonTag = document.getElementsByClassName("lesson-link");


        let initial = homePage;

        // homePage.style.display = "flex";   //add mamaya
        homeButton.classList.add('active');


        function removeAll() {
            const navButtons = document.querySelectorAll('.nav-button')
            navButtons.forEach(navTarget => {
                navTarget.classList.remove('active');
            });
        }



        function gotoPage(targetButton, targetPage) {
            if (initial === targetPage) return;
            initial.style.display = "none";
            removeAll()
            targetButton.classList.add('active');
            initial = targetPage;
            initial.style.display = "flex";


            window.scrollTo({
                top: 0, behavior: "smooth"
            });
        }


    </script>
</body>

</html>