.body-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.topics-list-main {
  /* TOP, RIGHT, BOTTOM, LEFT */
  padding: 20px 0 20px 0;
  width: 100%;
  max-width: 800px;
}

.topic-banner {
  background-color: #c00000;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 15px 10px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.topic-image-container {
  max-width: 800px;
  width: 95%;
  margin: 0 auto 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.topic-main-image {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(0.95);
  border-radius: 10px;
}

.topics-list {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.topics-list h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
  text-align: left;
}

.topic-item {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: #c00000;
  padding: 15px 10px;
  margin-bottom: 5px;
  transition: background-color 0.2s, color 0.2s;
  text-align: left;

  text-decoration: underline;
  text-decoration-color: #c00000;
  text-underline-offset: 4px;
}

.topic-item.active {
  background-color: rgba(128, 128, 128, 0.09);
  border-radius: 5px;
}

.topic-item:hover {
  background-color: rgba(128, 128, 128, 0.15);
  cursor: pointer;
}
